.footer {
  background-color: #0a2850;
  position: relative;
  overflow: hidden;
  z-index: 1;
}

.footer__content {
  padding: 60px 80px 0 80px;
  position: relative;
  z-index: 3;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.footer__logo {
  width: 105px;
  height: 39px;
}

.footer__social {
  color: #fff;
}

.footer__social-heading {
  margin-top: 0;
  margin-bottom: 20px;
  font-family: "Inter";
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
}

.footer__list {
  list-style: none;
  margin: 0;
}

.footer__list-item {
  display: flex;
  gap: 10px;
  color: #fff;
  margin-bottom: 16px;
  font-family: "Inter";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
}

.footer__social-link {
  text-decoration: none;
}

.footer__social-link:hover {
  color: #ccc;
}

.footer__social-link:visited {
  color: #fff;
}

.footer__social-icon {
  color: #fff;
  height: 16px;
  width: 16px;
}

.footer__circle {
  position: absolute;
  border-radius: 50%;
  z-index: 2;
  background-color: #2f80ed;
  height: 340px;
  width: 340px;
  top: -120px;
  left: -44px;
}

.footer__copyright {
  padding: 108px 0 60px 80px;
  color: #fff;
  font-family: "Inter";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
}
