.form {
  max-width: 385px;
  padding: 0;
}

.form__fieldset {
  border: none;
}

.form__label {
  margin-bottom: 8px;
  margin-left: 0%;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  display: flex;
}

.form__input {
  border-radius: 4px;
  margin: 0 auto 32px;
  width: 100%;
  height: 60px;
  align-items: center;
  box-sizing: border-box;
  font-size: 20px;
  line-height: 30px;
  color: #838383;
  border: 1px solid #ccc;
  padding: 12px 16px;
}

.form__button {
  border-radius: 4px;
  max-width: 385px;
  margin-bottom: 32px;
  width: 100%;
  height: 60px;
  justify-content: center;
  background-color: #2f80ed;
  color: white;
}

.form__button:hover {
  opacity: 70%;
}

/* .form__label-checkbox {
  width: 20px;
  height: 20px;
  margin: auto;
  border-radius: 2px;
  display: flex;
  align-items: center;
  gap: 8px;
}

.form__label-checkbox:checked::after {
  content: "";
  background-color: #2f80ed;
  width: 100%;
  height: 100%;
  display: block;
} */
