.nav {
  display: flex;
  justify-content: space-between;
}

.nav__logo {
  max-width: 105px;
  max-height: 39px;
  margin-top: 30px;
  margin-left: 30px;
  justify-content: space-between;
}

.nav__links {
  margin-top: 30px;
  margin-right: 80px;
  font-weight: 500;
  flex-wrap: nowrap;
  padding: 0;
  display: flex;
  list-style-type: none;
  column-gap: 20px;
}

.nav__link {
  text-decoration: none;
  color: black;
}

.nav__link:hover {
  color: #2f80ed;
}
