.recipes {
  background-color: #0a2759;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(../images/background_recipes.svg);
  color: #fff;
  display: flex;
  max-height: 800px;
  min-height: 720px;
  height: 100vh;
  flex-direction: column;
}

.recipes__title {
  margin: 100px auto 24px 80px;
  max-width: 580px;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
  text-align: center;
}

.recipes__subtitle {
  margin: 24px auto 80px 80px;
  max-width: 438px;
  font-family: "Noto Serif", "Times New Roman", serif;
  font-size: 20px;
  line-height: 30px;
}

.recipes__videos {
  margin: 0 auto 215px;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  display: flex;
  gap: 40px;
  justify-content: center;
}

.recipes__video-item {
  display: flex;
  flex-direction: column;
}

.recipes__iframe {
  width: 480px;
  height: 273px;
  border: none;
}

.recipes__video-caption {
  margin: 24px 0 0;
  justify-content: space-between;
  display: flex;
  font-weight: 500;
  font-size: 20px;
  align-items: center;
  line-height: 30px;
}
