.reservation {
  background-color: #d9e7ff;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(../images/background_reservation.svg);
  color: #000;
  text-align: center;
  padding: 100px 80px 120px;
}

.reservation__title {
  margin: 0 auto 80px;
  font-size: 44px;
  line-height: 52px;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
  text-align: center;
}

.reservation__form {
  margin: 80px auto 120px;
}
