.page {
  min-width: 1100px;
  max-width: 1600px;
  margin: auto;
  font-family: "Inter", Arial, sans-serif;
  font-size: 16px;
  line-height: 20px;
}

.header {
  background-color: #fff;
  display: flex;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(../images/background_header.svg);
  max-height: 800px;
  min-height: 720px;
  height: 100vh;
  position: relative;
  box-sizing: border-box;
  flex-direction: column;
}

.nav {
  display: flex;
  justify-content: space-between;
}

.nav__logo {
  max-width: 105px;
  max-height: 39px;
  margin-top: 30px;
  margin-left: 30px;
  justify-content: space-between;
}

.nav__links {
  margin-top: 30px;
  margin-right: 80px;
  font-weight: 500;
  flex-wrap: nowrap;
  padding: 0;
  display: flex;
  list-style-type: none;
  column-gap: 20px;
}

.nav__link {
  text-decoration: none;
  color: black;
}

.header__title {
  max-width: 709px;
  margin-left: 80px;
  font-size: 58px;
  line-height: 72px;
  letter-spacing: -1px;
  margin-top: 183px;
}

.header__title-accent {
  font-family: "Noto Serif", "Times New Roman", serif;
  font-style: italic;
  font-weight: normal;
  font-size: 58px;
  line-height: 72px;
  color: #2f80ed;
  display: block;
}

.header__description {
  margin-left: 80px;
  top: 28px;
  max-width: 683px;
  font-family: "Noto Serif", "Times New Roman", serif;
  font-size: 20px;
  line-height: 30px;
}

.header__image {
  position: absolute;
  margin-top: 124px;
  margin-right: 5px;
  max-width: 646px;
  max-height: 568px;
  right: 0;
  bottom: auto;
}

.header__footer {
  margin-top: auto;
  color: #838383;
  margin-left: 80px;
  margin-bottom: 40px;
}

.header__paragraph {
  margin: auto;
}

.header__paragraph-address {
  margin-right: 80px;
  margin-bottom: 40px;
  position: absolute;
  bottom: 0;
  right: 0;
}

.recipes {
  background-color: #0a2759;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(../images/background_recipes.svg);
  color: #fff;
  display: flex;
  max-height: 800px;
  min-height: 720px;
  height: 100vh;
  flex-direction: column;
}

.recipes__title {
  margin: 100px auto 24px 80px;
  max-width: 580px;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
  text-align: center;
}

.recipes__subtitle {
  margin: 24px auto 80px 80px;
  max-width: 438px;
  font-family: "Noto Serif", "Times New Roman", serif;
  font-size: 20px;
  line-height: 30px;
}

.recipes__videos {
  margin: 0 auto 215px;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  display: flex;
  gap: 40px;
  justify-content: center;
}

.recipes__video-item {
  display: flex;
  flex-direction: column;
}

.recipes__iframe {
  width: 480px;
  height: 273px;
  border: none;
}

.recipes__video-caption {
  margin: 24px 0 0;
  justify-content: space-between;
  display: flex;
  font-weight: 500;
  font-size: 20px;
  align-items: center;
  line-height: 30px;
}

.reservation {
  background-color: #d9e7ff;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(../images/background_reservation.svg);
  color: #000;
  text-align: center;
  padding: 100px 80px 120px;
}

.reservation__title {
  margin: 0 auto 80px;
  font-size: 44px;
  line-height: 52px;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
  text-align: center;
}

.form__fieldset {
  border: none;
}

.form {
  max-width: 385px;
  padding: 0;
}

.reservation__form {
  margin: 80px auto 120px;
}

.form__label {
  margin-bottom: 8px;
  margin-left: 0%;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  display: flex;
}

.form__input {
  border-radius: 4px;
  margin: 0 auto 32px;
  width: 100%;
  height: 60px;
  align-items: center;
  box-sizing: border-box;
  font-size: 20px;
  line-height: 30px;
  color: #838383;
  border: 1px solid #ccc;
  padding: 12px 16px;
}

.form__button {
  border-radius: 4px;
  max-width: 385px;
  margin-bottom: 32px;
  width: 100%;
  height: 60px;
  justify-content: center;
  background-color: #2f80ed;
  color: white;
}

.form__button:hover {
  opacity: 70%;
}

/* .form__label-checkbox {
  width: 20px;
  height: 20px;
  margin: auto;
  border-radius: 2px;
  display: flex;
  align-items: center;
  gap: 8px;
}

.form__label-checkbox:checked::after {
  content: "";
  background-color: #2f80ed;
  width: 100%;
  height: 100%;
  display: block;
} */

/* .footer {
} */
